@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap");

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: -50px;
  height: 100vh;

  font-family: "Rubik", sans-serif;
  margin-left: -100px;
}
.loginContainer {
  width: 400px;
  background-color: #edf2f6;
  border-radius: 3px;
}

.formContainer {
  padding: 25px;
  background-color: #edf2f6;
  border-radius: 3px;
}

.blobOne {
  width: 600px;
  margin-left: 10px;
  position: absolute;
  transform: rotate(20deg);
  margin-top: -100px;
  z-index: -3;
  overflow: hidden;
}
.blobTwo {
  width: 550px;
  margin-left: -100px;
  position: absolute;
  transform: rotate(60deg);
  margin-top: 100px;
  z-index: -10;
  overflow: hidden;
}
.blobThree {
  width: 450px;
  margin-left: 130px;
  position: absolute;
  transform: rotate(10deg);
  margin-top: 130px;
  z-index: -1;
  overflow: hidden;
}

.error {
  color: rgb(255, 247, 247);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 1px;
  letter-spacing: 5px;
  max-width: 400px;
  background-color: rgba(255, 0, 0, 0.281);
}
.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;

  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 1px;
  letter-spacing: 3px;
  max-width: 300px;
  background-color: rgba(255, 0, 149, 0.288);
}
.loginForm > input {
  min-width: 300px;
  padding: 17px;
  font-size: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  outline: none;
  border: 1px solid rgba(2, 6, 41, 0.507);

  font-family: "Rubik", sans-serif;
  border-radius: 2px;
  font-size: 14px;
}

.loginButton {
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  background: rgb(26, 23, 194);
  border: none;
  color: white;
  font-size: 24px;
  border-radius: 2px;
  font-family: "Rubik", sans-serif;
}
