body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
}
.blobOneTasks {
  width: 550px;
  margin-left: -200px;
  position: absolute;
  transform: rotate(1deg);
  margin-top: -110px;
  z-index: -3;
  overflow: hidden;
}
.container-fluid {
  text-align: center;
  /* font-family: "Cairo", sans-serif; */
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.container-fluid h1 {
  text-align: center;
  font-size: 55px;
  letter-spacing: 7px;
  /* font-family: "Cairo", sans-serif; */
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
